<div class="wrapper">
    <div class="title">
        {{aim}}
    </div>
    <form action="" method="post">
        <div class="field">
            <input type="text" [(ngModel)]="acno" name="acno" id="acid" required>
            <label>Account Number</label>
        </div>
        <div class="field">
            <input type="password" [(ngModel)]="psw" name="psw"  id="pid" required>
            <label>Password</label>
        </div>
        <div class="content">
            <div class="checkbox">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Remember me</label>
            </div>
            <div class="pass-link">
                <a href="#">Forgot password?</a>
            </div>
        </div>
        <div class="field">
            <input type="submit" (click)="login()" value="Login">
        </div>
        <div class="signup-link">
            Not a User? <a routerLink="register">Register Now</a>
        </div>
    </form>
</div>
