<div class="wrapper">
    <div class="title">
        {{aim}}
    </div>
    <form [formGroup]="loginForm">
        <div class="field">
            <input type="text" formControlName="acno" name="acno" id="acid" placeholder="Account Number"><br>
            <div *ngIf="this.loginForm.get('acno')?.errors && this.loginForm.get('acno')?.touched ">
                <p class="text-danger">Not a valid Account Number</p>
            </div>
        </div>
        <div class="field">
            <input type="password" formControlName="psw" name="psw" id="pid" placeholder="Password"><br>
            <div *ngIf="this.loginForm.get('psw')?.errors && this.loginForm.get('psw')?.touched ">
                <p class="text-danger">Not a Password</p>
            </div>
        </div><br>
        <div class="content">
            <div class="checkbox">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Remember me</label>
            </div>
            <div class="pass-link">
                <a href="#">Forgot password?</a>
            </div>
        </div>
        <div class="field">
            <input type="submit" (click)="login()" value="Login">
        </div>
        <div class="signup-link">
            Not a User? <a routerLink="register">Register Now</a>
        </div>
    </form>
</div>