<div>
    <div class="mb-3">
        <form action="">
            <h1>Deposit Form</h1>
            <label for="exampleFormControlInput1" class="form-label">Account Number</label>
            <input type="email" class="form-control" id="exampleFormControlInput1"
                placeholder="Enter your account number">

            <label for="exampleFormControlInput2" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleFormControlTextarea"
                placeholder="Enter your password">

            <label for="exampleFormControlInput3" class="form-label">Amount</label>
            <input type="number" class="form-control" id="exampleFormControlTextarea1" placeholder="Enter amount"><br>

            <div class="field text-center">
                <input type="submit" value="Deposit">
            </div>

        </form>
    </div>
</div>

<div>
    <form action="">
        <h1>Withdrawal Form</h1>
        <label for="exampleFormControlInput1" class="form-label">Account Number</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your account number">

        <label for="exampleFormControlInput2" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleFormControlTextarea" placeholder="Enter your password">

        <label for="exampleFormControlInput3" class="form-label">Amount</label>
        <input type="number" class="form-control" id="exampleFormControlTextarea1" placeholder="Enter amount"> <br>

        <div class="field text-center">
            <input type="submit" value="Withdraw">
        </div>

    </form>
</div>