<div class="container w-75 mt-4 p-5 border border-white" style="background: rgb(97, 197, 214); border-radius: 30px;">
    <h1>Transaction history</h1>
    <table style=" border-radius:30px;" class="border border-white w-75">
        <thead>
            <th class="border border-white w-100">Type</th>
            <th class="border border-white w-100">Amount</th>
        </thead>
        <tbody>
            <tr *ngFor="let i of transaction">
                <td class="border border-white w-100">{{i.type}}</td>
                <td class="border border-white w-100">{{i.amount}}</td>
            </tr>
        </tbody>
    </table>
</div>